aiohttp==3.9.1
aiosignal==1.3.1
altgraph==0.17.4
async-timeout==4.0.3
attrs==23.1.0
Babel==2.14.0
colorama==0.4.6
et-xmlfile==1.1.0
frozenlist==1.4.0
idna==3.6
importlib-metadata==7.0.1
multidict==6.0.4
numpy==1.24.4
openpyxl==3.1.2
packaging==23.2
pandas==2.0.3
pefile==2023.2.7
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.2
six==1.16.0
tk==0.1.0
tkcalendar==1.6.1
tqdm==4.66.1
tzdata==2023.3
xlrd==2.0.1
xlwings==0.30.13
yarl==1.9.4
zipp==3.17.0
